/* ChipperClipper Style Sheet */

html, body, h1, h2, h3, h4, h5, h6, p, border{
	margin:;
	padding:;
}
html{
	background-color:#BDEBFF;
}
body{
	height:130%;
	width:800px;
	margin:auto;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:14px;
	color:#363636;.
	line-height:25px;
	background-color:#FFFFFF;
}

/* Headings */

h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#FF8FB4;
	font-weight: normal;
	padding-top:5px;
	font-size: 40px;
}


/* page headers for SEO*/
h2{	
	text-align:center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#4988FC;
	font-weight: normal;
	font-size:24px;
	margin:0px;
}


h3{	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#85DAFF;
	font-weight: bold;
	font-size:18px;
	margin:0px;
}
h4{	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#85DAFF;
	font-weight: normal;
	padding-top:5px;
	font-size:16px;
	margin:0px;
}
h5{	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#85DAFF;
	font-weight: normal;
	padding-top:5px;
	font-size:14px;
}
h6{	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#1E9600;
	font-weight: normal;
	font-size:15px;
	margin:0px;
}

/* Images */
a img{
	border:0;
}	


/* Navigation Bar*/
#menu{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: thick;
	height:30px;
	color:#1E6900;
	font-size:14px;
	text-align:center;
	background-color:#B4FF96;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;

}

#content{
	text-align:center;
	padding-left:0px;
	padding-right:0px;
}
#content p{
	font-size:12px;
	color:#6266CF;
	text-align: center;
	margin:0px;
}

table
{
border:0px solid black;
margin: 0 auto;
}

#article{
	height:65px;
	width:100%;
	color:#6266CF;
	text-align:center;
	background-color: #EBEBEB;
	border-color: rgb( 40, 201, 0);
	border-style: dashed;
	padding-top:5px;
	margin-bottom: 5px;
}
#userslist{
	height:50px;
	width:100%;
	color:#ffffff;
	text-align:center;
	background-color:#EBFFE3;
	padding-top:5px;
	margin-bottom: 5px;
}


/* Links */
a:link, a:visited {
	color:#1E6900;
	text-decoration:none;
}
a:active, a:hover{
	color:#1E6900;
	text-decoration:none;
}

/* Footer */
#footer{
	height:40px;
	font-size:10px;
	color:#1E6900;
	text-align: center;
	background-color:#B4FF96;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	margin-top:20px;
}
#footer a:link, #footer a:visited {
	color:#ffffff;
	text-decoration:underline;
}
#footer a:active, #footer a:hover{
	color:#ffffff;
	text-decoration:none;
}

#error{
	font-size:20px;
	color:#D90016;
	text-align: center;
	margin:0px;
}

/* Common Classes */
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.textLeft{
	text-align:left;
}
.textRight{
	text-align:right;
}
.textCenter{
	text-align:center;
}
.bold{
	font-weight:bold;
}
.italic{
	font-style:italic;
}